html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.hidden {
  display: none; }

.post h1, h3, h4, h5, p, .post-body ul, #post-list li, pre {
  margin-bottom: 20px; }

html, body {
  height: 100%; }

body {
  font: 16px/1 "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  color: #333332;
  font-weight: 700;
  line-height: 1.1;
  margin: 0; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

a {
  color: #333332;
  text-decoration: none; }

p {
  color: #333332;
  font-size: 20px;
  line-height: 1.5;
  margin: 0; }

p.light {
  font-weight: 300; }

aside {
  color: #b3b3b1;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5; }

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em; }

th, td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top; }

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0; }

tr > td {
  border-top: 1px solid #eaeaea; }

tr:nth-child(odd) > td {
  background: #fcfcfc; }

thead th, th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap; }

a#monogram {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  background-color: #666665; }
  a#monogram:hover {
    background-color: #333332; }
  a#monogram svg {
    fill: white;
    width: 45px;
    height: 26px;
    margin-top: 10px; }

footer {
  border-top: 1px solid #f2f2f0;
  margin-bottom: 30px;
  text-align: center; }
  footer a, footer div {
    color: #b3b3b1;
    font-size: 12px;
    line-height: 40px;
    vertical-align: middle; }
  footer div {
    display: inline-block; }
  footer a {
    margin-left: 10px; }
  footer a:first-of-type {
    margin-left: 0; }
  footer a:hover {
    color: #333332;
    text-decoration: underline; }

header.hero {
  width: 100%;
  height: 400px;
  padding-top: 200px;
  background-image: url("../images/hero-bg.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% -180px;
  text-align: center; }
  header.hero h1, header.hero h3 {
    color: white; }
  header.hero h1 {
    font-size: 50px; }
  header.hero h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 6px; }
  header.hero a i {
    color: white;
    font-size: 25px;
    margin-left: 15px;
    opacity: 0.6; }
    header.hero a i:hover {
      opacity: 1; }
  header.hero a:first-of-type i {
    margin-left: 0; }

div.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto; }

main div.container {
  padding: 60px 0; }
  main div.container ul#post-list {
    list-style: none; }
    main div.container ul#post-list li {
      margin-bottom: 60px; }
    main div.container ul#post-list h3, main div.container ul#post-list p {
      margin-bottom: 4px; }
    main div.container ul#post-list p {
      line-height: 1.2; }

article.post {
  width: 700px;
  margin: 100px auto; }
  article.post * {
    max-width: 700px; }
  article.post header {
    margin-bottom: 40px; }
    article.post header h1 {
      font-size: 50px;
      margin-bottom: 8px; }
    article.post header h2 {
      font-weight: 300;
      font-size: 30px;
      color: #666665; }
  article.post h2 {
    font-size: 24px;
    margin-bottom: 2px;
    line-height: 1.2; }
  article.post p, article.post ul {
    font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 22px;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    margin-bottom: 30px; }
  article.post li {
    color: #333332;
    margin-left: 30px;
    margin-bottom: 12px; }
  article.post a {
    text-decoration: underline; }
  article.post pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Monaco, "Courier New", "Courier", monospace;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.2; }
  article.post footer div:first-of-type {
    float: left; }
  article.post footer div:last-of-type {
    float: right; }
