{% extends "base.html" %}
{% block content %}

<section id="wrapper">
  <header id="header" class="hero">
    <h1 id="title" class="index">Harrison Sweeney</h1>
    <h3>Technologist and Apple Enthusiast</h3>
    <a href="http://twitter.com/harrisonjames">
      <i class="icon-twitter"></i>
    </a>
    <a href="http://github.com/h4rrison-james">
      <i class="icon-github"></i>
    </a>
    <a href="http://www.linkedin.com/pub/harrison-sweeney/48/652/486">
      <i class="icon-linkedin"></i>
    </a>
  </header>
  
  <main class="content">
    <div class="container">
      <ul id="post-list">
      	{% for post in posts %}
      	<li class="post">
          <a href='/{{ post.path }}'><h3>{{ post.title }}</h3></a>
          <a href='/{{ post.path }}'><p class="light">{{ post.headline }}</p></a>
      		<aside class="dates">{{ post.date|date:"F jS" }}</aside>
      	</li>
      	{% endfor %}
      </ul>
    </div>
  </main>
  
  {% block footer %}
  <div class="container">
    <footer id="footer">
        <a href="#">Twitter</a>
        <a href="mailto:harrison.j.sweeney@gmail.com">Email</a>
    </footer>
  </div>
  {% endblock footer %}
</section>

{% endblock content %}
